<%- include('partials/head'); %>
<body>
	<%- include('partials/navbar'); %>
	<%- include('partials/header'); %>
	<div class="container">
		<div class="main">
			<%- include('partials/addContent') %>
			<%- include('partials/advancedSearch') %>
			<% if ( place == "home" ) { %>
				<%- include('partials/home') %>
			<% } else if ( place == "register") { %>
				<%- include('partials/register') %>
			<% } else { %>
				<%- include('partials/login') %>
			<% }; %>
		</div>
		<%- include('partials/sideBar'); %>
	</div>
</body>
</html>